@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: li;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wholeApp {
  background-image: url('../public/Laugh_Background2.0.png');
  background-size: cover;
}
